/* Body */
body { background: url(/images/tomato-background.png) fixed repeat-x bottom; }
.navbar-header { float: none; text-align: center; }
.navbar-brand { float: none; display: inline-block; }

/* Timer */

.timer { padding-top: 20px; background: rgba(230,230,230, 0.9);}
.timer > * { text-align: center; }
.timer .icon { margin: 0 auto 20px; font-size: 80px; display: block; color: #aaa; }
.timer .form-actions { margin-top: 15px; padding-top: 15px; border-top: 1px solid #bbb; }

.timer .icon, .timer h1 {
  transition: color 1s;
}

.timer h1.done {
  color: #a20 !important;
}

.timer .icon.done {
  color: #a20 !important;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
  }
}

/* Repo */
.repo-fragment table { background-color: rgba(255, 255, 255, 0.9); }
.new-issue { width: 80px; }
td { vertical-align: middle !important; }
td.issue-id { width: 1%; color: #666; }
td.issue-name div { white-space: nowrap; text-overflow: ellipsis; }
td.tomato-field { text-align: right; }
td.actions { width: 1%; text-align: right; }
