<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#linkTo "index" class="navbar-brand"}}October{{/linkTo}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}

  {{render "repo"}}
  {{render "timer"}}
</div>
