<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      {{#linkTo "repo" class="navbar-brand"}}October{{/linkTo}}
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
