<div class="repo-fragment row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <thead>
        <tr><th colspan="4"><h2>emberjs/ember.js</h2></th></tr>
      </thead>
      <tbody>
        {{#each model}}
          <tr>
            <td class="issue-id">#{{id}}</td>
            <td class="issue-name"><strong>{{title}}</strong></td>
            <td class="tomato-field">
              {{pomodoro-count value=pomodoro_count}}
            </td>
            <td class="actions">
              {{#linkTo "timer" this class="btn btn-default"}}Start{{/linkTo}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
