<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron timer">
      <div {{bindAttr class="isDone:done :icon :glyphicon :glyphicon-time"}}></div>
      <h1 {{bindAttr class="isDone:done"}}>{{format-remaining timeRemaining}}</h1>
      <p>Working on <strong>rails/turbolinks #270</strong></p>
      <p><small><em>Duplicating HTML class attribute content</em></small></p>

      <div class="form-actions">
        {{#if isDone}}
          {{#linkTo "repo" class="btn btn-success btn-lg"}}Cool story breaux!{{/linkTo}}
        {{else}}
          {{#linkTo "repo" class="btn btn-danger btn-lg"}}Cancel{{/linkTo}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
